In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df =  pd.read_csv('../Data/Distribuidora.csv')
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Beverage Brand,Days to \nDeliver,Delivery \nCompany,Price per \nUnit,Units Sold,Total Sales,Operating Profit,Operating Margin
0,Walmart,1185732,1/14/2022,Northeast,New York,New York,Coca-Cola,25,USPS,$0.50,"12,000","$6,000","$3,000",50%
1,Walmart,1185732,1/14/2022,Northeast,New York,New York,Diet Coke,34,FedEx,$0.50,"10,000","$5,000","$1,500",30%
2,Walmart,1185732,1/14/2022,Northeast,New York,New York,Sprite,48,UPS,$0.40,"10,000","$4,000","$1,400",35%
3,Walmart,1185732,1/14/2022,Northeast,New York,New York,Fanta,20,USPS,$0.45,"8,500","$3,825","$1,339",35%
4,Walmart,1185732,1/14/2022,Northeast,New York,New York,Powerade,26,USPS,$0.60,"9,000","$5,400","$1,620",30%

In [5]:
# Converter a coluna 'Retailer ID' para int
df['Retailer ID'] = pd.to_numeric(df['Retailer ID'], errors='coerce')

# Exibir o DataFrame após a conversão
print(df.dtypes)

Retailer              object
Retailer ID            int64
Invoice Date          object
Region                object
State                 object
City                  object
Beverage Brand        object
Days to \nDeliver      int64
Delivery \nCompany    object
Price per \nUnit      object
Units Sold            object
Total Sales           object
Operating Profit      object
Operating Margin      object
dtype: object

In [8]:
df.describe()

        Retailer ID  Days to \nDeliver
count  3.744000e+03        3744.000000
mean   1.176706e+06          37.174145
std    2.400406e+04          13.304029
min    1.128299e+06          15.000000
25%    1.185732e+06          26.000000
50%    1.185732e+06          37.000000
75%    1.185732e+06          49.000000
max    1.197831e+06          60.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3744 entries, 0 to 3743
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Retailer           3744 non-null   object
 1   Retailer ID        3744 non-null   int64
 2   Invoice Date       3744 non-null   object
 3   Region             3744 non-null   object
 4   State              3744 non-null   object
 5   City               3744 non-null   object
 6   Beverage Brand     3744 non-null   object
 7   Days to
Deliver   3744 non-null   int64
 8   Delivery
Company  3744 non-null   object
 9   Price per
Unit    3744 non-null   object
 10  Units Sold         3744 non-null   object
 11  Total Sales        3744 non-null   object
 12  Operating Profit   3744 non-null   object
 13  Operating Margin   3744 non-null   object
dtypes: int64(2), object(12)
memory usage: 409.6+ KB

In [7]:
df.describe()

        Retailer ID  Days to \nDeliver
count  3.744000e+03        3744.000000
mean   1.176706e+06          37.174145
std    2.400406e+04          13.304029
min    1.128299e+06          15.000000
25%    1.185732e+06          26.000000
50%    1.185732e+06          37.000000
75%    1.185732e+06          49.000000
max    1.197831e+06          60.000000